{% extends 'common-layout.html' %}

{% block action %}
<li><a href="{% url 'connect:logout' %}">Logout <i class="fas fa-user-plus"></i></a></li>
<li><a href="/master">Admin <i class="fas fa-user"></i></a></li>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
				<h3>Hey  {{request.session.ip}}  !!</h3>
				<hr>
				<h3>YOU ARE NOW A PART OF THE CLUSTER</h3>
				<a href="/process" ><button class="btn btn-default btn-lg" id="paw"><i class="fa fa-user-circle"></i> START CONTRIBUTING!</button></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}      