{% extends 'common-layout.html' %}

{% block action %}
<li><a href="{% url 'connect:logout' %}">Logout <i class="fas fa-user-plus"></i></a></li>
<li><a href="/master">Admin <i class="fas fa-user"></i></a></li>
{% endblock %}

{% block content %}

{% load static %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div id="content">
				<h3>Process  !!</h3>
        <div class="loader" id="loader-2">
            <span></span>
            <span></span>
            <span></span>
          </div>
        
			</div>
		</div>
	</div>
</div>
 
{% for task in tasks %}
<script src="{% static 'job/'|add:task.jobid|add:'/process.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  var d = new Date();
  var n = d.getTime();
  var foo=pro( "{{ task.content }}" )
  $.ajax({
    url: '/storeresult/',
    data: {
      'jobid': '{{ task.jobid }}',
      'taskid': '{{ task.taskid }}',
      'tid':'{{ task.tid }}',
      'content': foo
    },
    dataType: 'json',
    success: function (data) {
     console.log("Success")
   }
 });
  d=new Date();
  console.log(d.getTime()-n)
</script>

{% endfor %}
{% endblock %}      